<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
      <%= @member.name %>
    <div class="description row-space-3">
      <%= @member.website %>
    </div>
  </div>
</div>

<table class='table' id="friends_table">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <% @members.each do |member| %>
    <td><%= member.name %></td>
    <td><%= link_to "Add Friend", make_friend_member_path(:friend_id => member.id), :class => "btn btn-primary", :method=> :post %></td>
  <% end %>
</table>

<%= form_tag(search_experts_members_path, :method => "get", remote: true, id: "search-experts-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Experts" %>
  <%= submit_tag "Search" %>
<% end %>

<div id="expert_results"></div>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>